<section class="about">
  <div class="container-fluid">
    <div class="row header-click">
      <div class="col-md-8 col-md-offset-2 header">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            About
          </div>
        </div>
      </div>
    </div>
    <div class="row content">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-5 home">
            <h3>born here</h3>

            <div id="home-container"></div>
          </div>
          <div class="col-md-7 alabama">
            <h3>lived here for 10 years</h3>

            <div id="alabama-container"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 schools">
            <h3>educated here</h3>
            <%= image_tag 'schools.png' %>
            <div></div>
          </div>
          <div class="col-md-6 bike">
            <h3>ride one of these</h3>
            <%= image_tag 'bike.jpg' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <h3>been told I'm one of these</h3>
            <div class="hipster">
              <%= image_tag 'hipster.jpg' %>
            </div>
          </div>
          <div class="col-md-7">
            <h3>but I'm actually one of these</h3>
            <div class="nerd">
              <%= image_tag 'nerd.JPG' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>