<section class="top">
  <div class="container-fluid title-container">
    <div class="row ">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 title">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6">
            <h1>Ian</h1>

            <h1>Knox</h1>
          </div>
          <div class="col-xs-10 col-sm-10 col-md-6 col-md-offset-0 profile-image">
            <%= image_tag 'profile.jpg' %>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 subtitle">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-0 left"><h2>Developer</h2></div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-0 right"><h2>Denver, CO</h2></div>
        </div>
      </div>
    </div>
  </div>
</section>