<section class="top">
  <div class="header">
    <h1>Ian Knox</h1>
    <div>
      <span>Denver CO</span>
    </div>
    <div>
      <%= link_to 'Twitter', 'http://www.twitter.com/idknox' %>
    </div>
    <div>
      <span>Developer</span>
    </div>
    <div>
      <%= link_to 'Projects', 'http://blog.ianknox.me' %>
    </div>
    <div>
      <%= link_to 'Github', 'http://www.github.com/idknox' %>
    </div>
    <div>
      <%= link_to 'Linkedin', 'http://lnkd.in/DiAN7H' %>
    </div>
  </div>
</section>
<section>
  <div id="map"></div>
</section>
