<div class="col-md-5 col-md-offset-2 project">
  <h1 class="project-title">CirrusMD</h1>

  <h3 class="project-subtitle">Doctor Messaging Platform</h3>

  <%= link_to '#', id: 'cirrus-gallery' do %>
      <div class="site" style="background-image: url(<%= asset_path 'cirrus-1.png'  %>)">
      </div>
  <% end %>
  <div class="detail">
    <div class="row">
      <div class="col-xs-10 col-md-10 details">
        <ul>
          <li>Rails 4</li>
          <li>Backbone.js, Marionette.js</li>
          <li>Responsive and mobile-friendly</li>
          <li>Built web features and REST API</li>
        </ul>
      </div>
      <div class="col-xs-2 col-md-2 links">
        <div class="link">
          <%= link_to (fa_icon 'link'), 'http://www.cirrusmd.com/', target: '_blank' %>
        </div>
      </div>
    </div>
  </div>
</div>