<div class="col-md-5 project">
  <h1 class="project-title">OppenheimerFunds</h1>

  <h3 class="project-subtitle">Ultra High Net Worth Rebuild</h3>

  <div class="site">
    <%= link_to '#', id: 'op-gallery' do %>
      <%= image_tag 'op-1.png' %>
    <% end %>
  </div>
  <div class="detail">
    <div class="row">
      <div class="col-xs-10 col-md-10 details">
        <ul>
          <li>Rails 3 & 4, Custom JS </li>
          <li>Custom Rails CMS</li>
          <li>Cross-domain login</li>
          <li>Helped launch 3 six-month projects</li>
        </ul>
      </div>
      <div class="col-xs-2 col-md-2 links">
        <div class="link">
          <%= link_to (fa_icon 'link'), 'https://www.oppenheimerfunds.com', target: '_blank' %>
        </div>
        <div class="link">
        </div>
      </div>
    </div>
  </div>
</div>