<div class="col-md-5 project">
  <h1 class="project-title">SiftLocal MVP</h1>

  <h3 class="project-subtitle">Makers/Product Showcase</h3>

  <%= link_to '#', id: 'sift-gallery' do %>
      <div class="site" style="background-image: url(<%=  asset_path 'sift-1.png' %>)">
        <%= image_tag '' %>
      </div>
  <% end %>
  <div class="detail">
    <div class="row">
      <div class="col-xs-10 col-md-10 details">
        <ul>
          <li>Rails 4, Custom JS, Flexbox</li>
          <li>Author and ownership of frontend</li>
          <li>Currently building event management featureset</li>
          <li>Responsive and mobile-friendly</li>
        </ul>
      </div>
      <div class="col-xs-2 col-md-2 links">
        <div class="link">
          <%= link_to (fa_icon 'link'), 'http://www.siftlocal.co', target: '_blank' %>
        </div>
      </div>
    </div>
  </div>
</div>