<div class="col-md-5 project">
  <h1 class="project-title">Sound Locale</h1>

  <h3 class="project-subtitle">Denver Concert Aggregator</h3>

  <div class="site">
    <%= link_to '#', id: 'sl-gallery' do %>
      <%= image_tag 'sl-1.png' %>
    <% end %>
  </div>
  <div class="detail">
    <div class="row">
      <div class="col-xs-10 col-md-10 details">
        <ul>
          <li>CURRENTLY BEING REWRITTEN</li>
          <li>Rails 5, Ruby 2</li>
          <li>Node/ReactJS, SASS</li>
          <li>Google Maps, Youtube, Soundcloud</li>
        </ul>
      </div>
      <div class="col-xs-2 col-md-2 links">
        <div class="link">
          <%= link_to (fa_icon 'link'), 'http://soundlocale.ianknox.me', target: '_blank' %>
        </div>
        <div class="link">
          <%= link_to (fa_icon 'github'), 'http://www.github.com/idknox/soundlocale-react', target: '_blank' %>
        </div>
      </div>
    </div>
  </div>
</div>