.about {
  background: $dark-yellow;
  text-align: center;

  .header {
    background: $dark-yellow;
  }

  .content {
    .row {
      margin-bottom: 50px;
    }

    #home-container, #alabama-container {
      height: 200px;
      border: 5px solid $black;
    }

    .bike, .hipster, .nerd {

      img {
        border: 5px solid $black;
        width: 100%;
        height: 100%;
      }
    }

    .schools {

      img {
        width: 100%;
      }
    }
  }
}