.github {

  .stats {
    text-align: center;
    height: 200px;
  }

  .loading {
    font-size: 5em;
    text-align: center;
    height: 200px;
  }

  .highcharts-background {
    height: 200px;
  }
}
