.github {

  .stats {
    text-align: center;
    font-size: 1.3em;

    div {
      margin-bottom: 20px;
    }

    h3 {
      margin: 60px 0 10px 0;
    }

    ul {
      list-style: none;
    }

    a {
      color: inherit;

      &:hover {
        text-decoration: none;
        color: $dark-yellow;
      }
    }
  }

  .graph-language {
  }

  .mega-octicon {
    margin-right: 5px;
  }

  h3 {
    margin-right: 300px;
  }

}
