.github {

  .stats {
    text-align: center;
    height: 200px;

    i {
     font-size: 3em;

    &:hover {
      text-decoration: none;
      color: $dark-yellow;
    }
    }
  }

  .loading {
    font-size: 5em;
    text-align: center;
    height: 200px;
  }

  .highcharts-background {
    height: 200px;
  }
}
