@import 'guardians';
@import 'reset';

section {
  width: 100%;

  @media (max-width: $iphone) {
  }
}

h1 {
  font-size: 13em;
  margin: 0;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $dark-yellow;
  }
}

.menu {
  position: fixed;
  z-index: 999;
  background-color: $dark-yellow;
  padding: 0px 50px 10px 0;
  font-size: 4em;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid $black;

  @media (max-width: $iphone) {
    padding: 0 0 0 7%;
    font-size: 7em;
  }

  a {
    margin-right: 50px;
    position: relative;
    top: 10px;

    &:hover {
      color: #666;
    }

    @media (max-width: $iphone) {
      float: none;
      margin-left: -20px;
    }
  }

  i {
    cursor: pointer;
  }
}

.grey {
  color: $dark-grey;
}

.top {
  background: $dark-yellow;
  color: #333;
  height: 120vh;
  width: 100%;

  .title-container {
    padding-top: 10%;

    @media (max-width: $iphone) {
      padding-top: 30%;
    }

    .title {
      padding: 0;
      width: 55%;

      @media (max-width: $iphone) {
        font-size: 1.5em;
        margin: 0 0 20% -5%;
      }
    }
    .profile-picture {
      height: 350px;
      width: 350px;
      background-image: url('profile.jpg');
      background-size: cover;
      border-radius: 50%;
      position: relative;
      top: 0px;
      left: 10px;

      @media (max-width: $iphone) {
        margin-left: 35%;
      }
    }

    h2 {
      margin: 0;
      padding: 10px 0 0 0;
      border-top: 10px solid #333;
      font-size: 4em;

      @media (max-width: $iphone) {
        border: none;
        margin: 10% 0 0 20%;
      }

      .left {
        float: left;
      }

      .right {
        float: right;
      }
    }
  }
}

.header {
  padding: 20px 0 10px 0;
  font-size: 5em;
  width: 100%;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;

  .open-button, .close-button {
    font-size: .75em;
  }

  @media (max-width: $iphone) {
    display: none;
  }
}




