@import 'guardians';
@import 'reset';
* {
  font-family: 'guardians';
}

section {
  height: 100vh;

}

h1 {
  font-size: 12em;
}

.menu {
  position: fixed;
  right: 0;
  top: 30%;
  font-size: 2em;
  padding: 30px;
  background: $black;

  a {
    color: #EBEBEB;
  }

  ul {
    list-style: none;

    li {
      padding-top: 20px;
    }
  }
}

.top {
  background: $dark-yellow;
  color: #333;

  .title-container {
    padding-top: 5%;

    .title {
      padding-left: 0;
    }

    .subtitle {
      padding: 20px 0 0 0;
      font-size: 2em;
      border-top: 20px solid #333;

      .left {
        float: left;
      }

      .right {
        float: right;
      }
    }
  }
}

.header {
  margin-top: 20px;
  padding: 0;
  font-size: 5em;
  border-bottom: 5px solid $dark-grey;
}


