.projects {
  background: $black;

  * {
    color: #fff;
  }

  .project {
    text-align: center;

    @media (max-width: $tablet) {
      margin-bottom: 40px;
    }

    .site {
      border: 1px solid $grey;
      img {
        width: 100%;
      height: 150px;
        cursor: zoom-in;
      }
    }

    .detail {
      margin-top: 15px;

      ul {
        list-style: none;
        text-align: left;
        font-size: 1.1em;

        a:hover {
          color: $dark-yellow;
          text-decoration: none;
        }
      }

      .link {
        margin-bottom: -5px;

        a {
          font-size: 2.5em;
          height: 35px;

          i:hover {
            color: $dark-yellow;
          }
        }
      }
    }
  }
}