* {
  margin: 0;
  padding: 0;
  font-family: 'fira_sansregular', Helvetica;
  color: $black;
}

h1, h2 {
  cursor: default;
}

html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

.row {
  padding: 0;
}




