section {
  width: 100%;
}

.top {
  padding: 12% 0 12% 0;
  background: $dark-yellow;

  .title {
    height: 30%;
    padding: 0;

    @media (max-width: $tablet) {
      text-align: center;
      margin-bottom: 20px;
    }

    h1 {
      font-size: 15em;
      margin: 0 0 -40px -20px;
      width: 100%;

      @media (max-width: $phone) {
        font-size: 10em;
        margin: 20px 0 -40px 0;
      }
    }

    .profile-image {
      position: relative;
      top: 40px;
      left: 10%;

      @media (max-width: $phone) {
        margin: 20px 0 30px -10px;
      }

      img {
        border-radius: 50%;
        width: 80%;
        max-width: 330px;
      }
    }
  }

  .subtitle {
    border-top: 10px solid $black;
    margin-top: 20px;

    @media (max-width: 991px) {
      border-top: none;
      margin-top: 10vh;
    }

    @media (max-width: 655px) {
      display: none;
    }

    .right {
      text-align: right;
    }

    .left, .right {
      padding: 0;

      @media (max-width: $tablet) {
        text-align: center;
      }
      h2 {
        font-size: 4em;

        @media(max-width: 665px) {
          font-size: 2em;
          margin: 0;
        }
      }
    }
  }
}